---
import Container from '../components/basics/Container.astro';
interface Props {
    copyright: string;
}

const props = Astro.props;
---

<footer class="mb-2 w-full text-center leading-4">
    <Container>
        <p class="text-lg font-light">
            {props.copyright}
        </p>
    </Container>
</footer>
