---
interface Props {
    copyright: string;
}

const props = Astro.props;
---

<footer class="mb-2 w-full text-center leading-4">
    <div class="my-2 mx-auto max-w-screen-md px-4">
        <p class="text-lg font-light">
            {props.copyright}
        </p>
    </div>
</footer>
